<link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"
    ><img src="vendor/orderly_logo.png" height="50em"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/restaurants">Restaurants</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if ( email ) { %>
        <form action="/logout" method="POST" class="form-inline">
          <li class='nav-item d-flex justify-content-end'>
            <span style="padding-top:8px;" > Logged in as: <%= email %> &nbsp; </span>
            <a>
              <button style="border: rgb(248, 249, 250);background-color: rgb(248, 249, 250); "type="submit" class="nav-link" href="/login">
              Logout
              </button>            
            </a>
          </li>
        </form>
        <% }  else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <% } %>
      </ul>
  </div>
</nav>