<!DOCTYPE html>
<html lang="en">
<head>
  <!-- from head partial -->
  <%- include('partials/head.ejs')  %> 

  <title>Order Confirmation Summary</title>
</head>
<body>

  <div class="container">

    <h2>
      Your order has been processed. 
    </h2>
    <p>
      Please check your phone for updates on your order *ORDER NO*
    </p>
  </div>
  
  <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

</body>
</html>