<!DOCTYPE html>
<html lang="en">
<head>
  <!-- from head partial -->
  <%- include('partials/head.ejs')  %> 

  <!-- Local CSS -->
  <link rel="stylesheet" href="/styles/confirmation.css" type="text/css">

  <title>Order Confirmation Summary</title>
</head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container-md mt-5 pb-0">  
      <div class="jumbotron">
        <h1 class="display-4">
          Order Processed!
        </h1>
        <p class="lead">
          Your order has been processed with: 
          <p class='h5'>
            Bob's Restaurant
          </p>
        </p>
        <p class='lead'>
          Please check your phone for updates on your order:
          <p class='h5'>
            0137-22/10/2022
          </p>
        </p>
        <hr class="my-4">
        <p class="lead">
          Your order summary is:        
        </p>
        <p>
          <% for(let item in items) {%> 
            <ul>
              <li>
                <img class="item-img" src="<%= items[item].img%>">
              </li>
              <li class="item-name">
                <p> 1 x
                  <%= items[item].name %>
                </p> 
              </li>              
            </ul>
          <% } %>
          <br>
          <p class="h4">
            Total: $76.96
          </p>
        </p>
      </div>      
    </div>
  </body>
</html>