<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>





  
  
    <div class="background">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">
            Hello, world!
          </h1>
          <p class="lead">
            Waiting around for food sucks, use Orderly to place an order and we'll notify you when it's ready!
          </p>
          <hr class="my-4">
          <p>
            It uses utility classes for typography and spacing to space content out within the larger container.
          </p>
          <form method ="POST" action = "/">
            <a class="btn btn-primary btn-lg" href="#" role="button">
              Feed me!
            </a>
          </form>
        </div>
      </div>
  
    </div>



</body>

</html>
