<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>

  <%- include('./partials/navbar') %>
   <div class="background">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">
            Welcome to Orderly
          </h1>
          <p class="lead">
            Waiting around for food sucks, use Orderly to place an order and we'll notify you when it's ready!
          </p>
          <hr class="my-4">

          <form method ="POST" action = "/">
            <a class="btn btn-warning btn-lg" href="/restaurants" role="button">
              Choose a Restaurant
            </a>
          </form>
        </div>
      </div>

    </div>



</body>

</html>
