<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%-include('partials/_header') %>
  <div class="menu-bg">
    <h2>Menu</h2>
  </div>

  <section class="menu-all">
    <tbody class="menu-list">
    <tr class="menu-list">

      <td>item</td>
      <td>pic</td>
      <td>description</td>
      <td>price</td>
      <td><form method = "POST" action="/menu"><button class = "btn btn-outline-primary">Add</button></form></td>


    </tr>
    <tr id="menu-list"class="menu-list">

      <td>item</td>
      <td>pic</td>
      <td>description</td>
      <td>price</td>
      <td><form method = "POST" ><button class = "btn btn-outline-primary">Add</button></form></td>


    </tr>
    <tr class="menu-list">

      <td>item</td>
      <td>pic</td>
      <td>description</td>
      <td>price</td>
      <td><form method = "POST" ><button class = "btn btn-outline-primary">Add</button></form></td>


    </tr>
    <tr class="menu-list">

      <td>item</td>
      <td>pic</td>
      <td>description</td>
      <td>price</td>
      <td><form method = "POST" ><button class = "btn btn-outline-primary">Add</button></form></td>


    </tr>
    </tbody>
    <div id="cart"class="cart">
      <h4>Cart</h4>
      
    </div>
    </section>

  </section>
</body>

</html>
