<!DOCTYPE html>
<html lang="en">
<head>
  <!-- from head partial -->
  <%- include('partials/head.ejs')  %>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Local CSS -->
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <%- include('./partials/navbar') %>
<div class="container d-flex justify-content-center h-75">
  <form class="bg-light" method="POST" action="/register">
    <h4>Register Menu</h4>
    <div class="form-content">
      <!-- Name Input -->
      <label for="name">Name:</label>
      <input class ="form-control" type="text" name="name" required>
      <!-- Email Input -->
      <label for="email">Email:</label>
      <input class="form-control" name="email" type="email" required>
      <!-- Phone Input -->
      <label for="phone">Phone Number:</label>
      <input class="form-control" type="tel" name="phone" required>
      <!-- Password Input -->
      <label for="password">Password:</label>
      <input class="form-control" name="password" type="password" required>

      <div class="buttons-div">
        <button class="btn btn-primary" type="submit">
          Register
        </button>
        <a href="/login">
          <button class ="btn btn-primary" type ="button">
            Login
          </button>
        </a>
      </div>
    </div>
  </form>
</div>
</body>
</html>
