.menu-bg{
  color:white;
  margin-top:65px;
  height:100px;
  width:100%;
  text-align: center;
  padding:2em;
  background-image: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%),url(https://www.fairmont.com/assets/0/104/1029/1034/5662/5663/eeb3f718-4d69-477d-8844-8789e1a4a7f8.jpg);
  background-position: center;
  background-size: cover;
}

.menu-all{

  padding:2em;

}
.table{



  padding-right:5em;
  border-right:solid;
  border-color:black;

}
.food-item{
  margin-top:5px;



}

.food-img{
  height:100px;
  width:100px;
}
