h2 {
  margin-top:80px;
  display: flex;
  flex-direction:row;
  justify-content: center;
}
body {
  text-align: center;
  padding:1em;
}


.container {
  display:flex;
  flex-direction: column;
}

.restaurant1 {
  border-radius: 10px;
  object-fit: cover;
  height:100px;
  width:300px;
}

.restaurant1:hover {
  border-radius: 30px;
}

.container div {
  margin-top:1em;
}

.carouselcontainer {
  margin-top: 100px;
}

.carousel.slide {
  margin-top: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  font-size: 30px;
}
