body {
  padding:1em;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.8) 0%),
  url("https://images.pexels.com/photos/2290070/pexels-photo-2290070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
  height: 200px;
}

.container {
  display:flex;
  flex-direction: column;
}

.restaurant1 {
  border-radius: 10px;
  object-fit: cover;
  height:100px;
  width:300px;
}

.restaurant1:hover {
  border-radius: 30px;
}

.container div {
  margin-top:1em;
}

.carouselcontainer {
  margin-top: 100px;
}

.carousel.slide {
  margin-top: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  font-size: 30px;
}

h3{
 text-shadow: 1px 1px 5px black;
 color:white;
}

p{
  text-shadow: 1px 1px 5px black;
}

h5{
  text-shadow: 1px 1px 5px black;
}

img {
  border-radius:2%;
}
